.form-order {
    display: flex;
    width: 70%;
    justify-content: space-around;
    border-right: 1px solid #C9D0E1;
}

.form-order__details {
    width: 70%;
}

.order-details__wrapper {
    padding: 25px 50px 15px 80px;
}

.order-details__caption {
    width: 100%;
    position: relative;
}

.order-details__caption_text {
    text-transform: uppercase;
}

.order-details__caption_text::before {
    content: '';
    background-image: url('../img/order.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 25px;
    left: -35px;
    top: -3px;
}

.order-items {
    display: flex;
    padding-top: 15px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.order-item {
    width: 20%;
}

.order-item__caption {
    text-transform: uppercase;
    font-weight: bold;
}

.order-item__value {
    margin-top: 10px;
    font-weight: 600;
    color: #A5ABC5;
}

.form-order-buttons {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-order-buttons__button {
    @include button;
    width: 70%;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-order-buttons__button_place_order {
    background-color: #5FCAC6;
    color: #FFFFFF;
}

.form-order-buttons__button_print_quote {
    background-color: #F7F7FA;
}
