@mixin input-payment-section {
    padding: 13px;
    border-radius: 4px;
    border: 1px solid #C9D0E1;
}

@mixin label-for-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

@mixin text-for-label {
    padding-left: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.7;
}

.payment-section {
    @include section;
    margin-bottom: 80px;
}

.payment-section__title {
    @include section-title(5);
}

.payment-section__sign-in {
    font-size: 14px;
    opacity: 0.5;
    font-weight: bold;
    @media screen and (max-width: 900px) {
        display: flex;
        justify-content: center;
    }
}

.sign-in__text {
    display: flex;
    margin-bottom: 40px;
    @media screen and (max-width: 400px) {
        flex-direction: column;
    }
}

.sign-in__additional-text {
    padding-right: 3px;
}

.sign-in__additional-text::first-letter {
    text-transform: uppercase;
}

.sign-in__link {
    text-decoration: underline;
}

.sign-in__link::first-letter {
    text-transform: uppercase;
}


.user-information__text {
    @include text-for-label();
}

.payment-section__user-information {
    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }
}

.user-information__label {
    @include label-for-input();
    width: 30%;
    @media screen and (max-width: 900px) {
        width: 100%;
        align-self: center;
    }
}

.user-information__inline-labels-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.user-information__label_password {
    @media screen and (max-width: 900px) {
        margin-top: 25px;
    }
}

.user-information__inline-labels-wrapper > .user-information__label {
    margin-right: 30px;
    @media screen and (max-width: 900px) {
        margin-right: 0px;
    }
}

.user-information__input {
    @include input-payment-section();
    @include focus-hover;
}

.user-information__input[type=password]::-webkit-input-placeholder {
    letter-spacing: 8px;
}

.user-information__input-validator::after {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 14px;
    top: 43%;
    right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #ffffff;
}

.user-information__input:valid ~ .user-information__input-validator::after {
    content: "\f00c";
    background-color: #59A9E4;

}

.user-information__input:invalid ~ .user-information__input-validator::after {
    content: "\f00d";
    background-color: #EE6767;
}

.payment-method {
    display: flex;
    margin-top: 70px;
    @media screen and (max-width: 900px) {
        justify-content: space-between;
    }
    @media screen and (max-width: 570px) {
        flex-direction: column;
    }
}

.payment-method__label {
    position: relative;
    width: 25%;
    @media screen and (max-width: 570px) {
        width: 70%;
        align-self: center;
        margin-top: 30px;
    }
}

.payment-method__input_visually-hidden {
    @include visually-hidden;
}

.payment-method__value {
    border: 1px solid #C9D0E1;
    padding: 30px;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #F7F7F7;
    border-radius: 4px;
    @include focus-hover;
    @media screen and (max-width: 900px) {
        margin-right: 0px;
    }
}

.payment-method__input_visually-hidden:checked ~ .payment-method__value {
    outline: 5px solid #59A9E4;
}

.payment-method__input_visually-hidden:checked ~ .payment-method__value::after {
    content: '';
    width: 32px;
    height: 32px;
    background-image: url('../img/check.png');
    position: absolute;
    top: -19px;
    right: 22px;
    @media screen and (max-width: 900px) {
        right: -17px;
    }
}

.payment-section__card {
    margin-top: 80px;
    display: flex;
    @media screen and (max-width: 900px) {
        justify-content: space-around;
    }
    @media screen and (max-width: 570px) {
        flex-direction: column;
    }
}

.payment-card__label {
    @include label-for-input();
    margin-right: 25px;
    @media screen and (max-width: 900px) {
        margin-right: 0px;
    }
    @media screen and (max-width: 570px) {
        align-self: center;
        margin-top: 30px;
    }
}

.payment-card__label_card_number {
    width: 35%;
    position: relative;
    @media screen and (max-width: 570px) {
        width: 100%;
    }
}

.payment-card__label_expiry {
    width: 20%;
    @media screen and (max-width: 570px) {
        width: 100%;
    }
}

.payment-card__label_cvv {
    width: 10%;
    @media screen and (max-width: 570px) {
        width: 100%;
    }
}

.payment-card__input_expiry::-webkit-input-placeholder {
    opacity: 0.5; 
}

.payment-card__input_expiry::-webkit-input-placeholder {
    text-align: center;
    letter-spacing: 1px;
}

.payment-card__text {
    @include text-for-label();
}

.payment-card__input {
    @include input-payment-section();
    text-align: center;
    @include focus-hover;
}

.payment-card__visa-label {
    background-image: url('../img/cc-visa-brands.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    opacity: 0.3;
    position: absolute;
    top: 25px;
    right: 10px;
}

.payment-section__complete-order {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media screen and (max-width: 850px) {
        flex-direction: column;
    }
}

.complete-order__label {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.complete-order__input {
    margin-right: 10px;
    @include focus-hover;
}

.text-link-small {
    text-decoration: underline;
}

.complete-order__terms {
    @media screen and (max-width: 850px) {
        margin-top: 10px;
    }
}

.complete-order__agree-text {
    margin-right: 3px;
}

.complete-order__buttons-wrapper {
    display: flex;
    @media screen and (max-width: 850px) {
        margin-top: 10px;
        width: 80%;
        justify-content: space-around;
    }
    @media screen and (max-width: 650px) {
        width: 100%;
        justify-content: space-around;
    }
    @media screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.complete-order__button {
    @include button;
    padding: 20px 40px;
    margin-left: 25px;
    text-transform: uppercase;
    font-weight: bold;
    @media screen and (max-width: 850px) {
        margin-left: 0px;
    }
    @media screen and (max-width: 550px) {
        margin-top: 10px;
    }
}

.complete-order__button_place_order {
    background-color: #5FCAC6;
    color: #FFFFFF;
}

.complete-order__button_print_quoter {
    background-color: #F7F7FA;
}
