.payment-section {
    @include section;
}

.payment-section__title {
    @include section-title(5);
}

.payment-section__sign-in {
    font-size: 14px;
    opacity: 0.5;
    font-weight: bold;
}

.sign-in__text {
    display: flex;
    margin-bottom: 40px;
}

.sign-in__additional-text {
    padding-right: 3px;
}

.sign-in__additional-text::first-letter {
    text-transform: uppercase;
}

.sign-in__link {
    text-decoration: underline;
}

.sign-in__link::first-letter {
    text-transform: uppercase;
}

.user-information__label {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
}

.user-information__text {
    padding-left: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.7;
}

.user-information__inline-labels-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.user-information__inline-labels-wrapper > .user-information__label {
    margin-right: 30px;
}

.user-information__input {
    padding: 13px;
    border-radius: 4px;
    border: 2px solid #C9D0E1;
}

.user-information__input[type=password]::-webkit-input-placeholder {
    letter-spacing: 8px;
}

.user-information__input-validator::after {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 14px;
    top: 43%;
    right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #ffffff;
}

.user-information__input:valid ~ .user-information__input-validator::after {
    content: "\f00c";
    background-color: #59A9E4;

}

.user-information__input:invalid ~ .user-information__input-validator::after {
    content: "\f00d";
    background-color: #EE6767;
}
