.upload-section {
    @include section;
}

.upload-section__title {
    @include section-title(1);
}

.upload-section__title::after {
    content: '(Doc, Docx Text, PDF, Markdown)';
    margin-left: 10px;
    font-size: 11px;
    font-weight: 400;
    opacity: 0.7;
}

.upload-section__label {
    width: 25%;
    text-align: center;
    margin-bottom: 35px;
}

.upload-section__label-text {
    @include button;
    position: relative;
    padding-left: 55px;
    font-weight: 600;
}

.upload-section__label-text::first-letter {
    text-transform: uppercase;
}

.upload-section__label-text::before {
    content: '';
    width: 32px;
    height: 32px;
    background-image: url('../img/cloud.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 22px;
    left: 35px;
}

.upload-section__input {
    @include visually-hidden;
}

.upload-section__list-wrapper {
    border: 1px solid #C9D0E1;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    color: #95a1c1;
    border-radius: 5px;
}

.upload-section__column {
    display: flex;
    flex-direction: column;
}

.upload-section__row {
    display: flex;
    align-items: center;
    height: 40px;
}

.upload-section__column_remove > .upload-section__row_value {
    justify-content: center;
}

.upload-section__column_filename > .upload-section__row_value {
    position: relative;
    padding-left: 40px;
}

.upload-section__column_filename > .upload-section__row_value::before {
    content: '';
    position: absolute;
    background-image: url('../img/docx-logo.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 25px;
    left: 0px;
    top: 10px;
}

.upload-section__row_caption {
    text-transform: uppercase;
    font-weight: bold;
}

.upload-section__row_delete {
    background-image: url('../img/remove.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

