.translate-section {
    @include section;
}

.translate-section__caption {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}

.translate-caption__text {
    display: inline-block;
    letter-spacing: 0.2em;
    font-size: 20px;
    color: #92ACC4;
    text-transform: uppercase;
    border-bottom: 1px solid #E6E6EB;
    padding-bottom: 10px;
    @media screen and (max-width: 725px) {
        padding-bottom: 0px;
    }
}

.translate-section__radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 1180px) {
        flex-direction: column;
        align-items: center;
    }
}

.radio-choice__label {
    @media screen and (max-width: 1180px) {
        width: 50%;
        margin-bottom: 25px;
    }
    @media screen and (max-width: 400px) {
        width: 100%;
        margin-bottom: 25px;
    }
    @include focus-hover;
}

.radio-choice__input_visually-hidden {
    @include visually-hidden;    
}

.radio-choice__input_visually-hidden:checked ~ .radio-choice__wrapper {
    outline: 5px solid #59A9E4;
}

.radio-choice__input_visually-hidden:focus + .radio-choice__wrapper {
    outline: -webkit-focus-ring-color auto 5px;
}

.radio-choice__input_visually-hidden:checked ~ .radio-choice__wrapper::after {
    content: '';
    width: 32px;
    height: 32px;
    background-image: url('../img/check.png');
    position: absolute;
    top: -19px;
    right: -19px;
}

.radio-choice__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 90px;
    border: 1px solid #C9D0E1;
    background-color: #F7F7FA;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    @media screen and (max-width: 400px) {
        padding: 30px 0px;
    }
}

.radio-choice__image_website {
    content: url('../img/translate-website.jpg');
    width: 100px;
    height: 100px;
}

.radio-choice__image_documents {
    content: url('../img/translate-documents.jpg');
    width: 100px;
    height: 100px;
}

.radio-choice__image_social-account {
    content: url('../img/translate-social.jpg');
    width: 100px;
    height: 100px;
}

.radio-choice__text {
    text-align: center;
    margin-top: 25px;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    color: #95a1c1;
}
