.form__range {
    @include section;
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
    margin-top: 0px;
    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

.range__title {
    @include section-title(4);
    margin-bottom: 75px;
    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

.range__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range__input-wrapper {
    width: 85%;
    margin-bottom: 10px;
}

.range__input-subtext {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.range__input-subtext_value {
    text-transform: uppercase;
    font-weight: bold;
}

.range__input {
    cursor: pointer;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    position: relative;
}

.range__input::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #c4c2c2;
    border-radius: 50%;
    left: 0;
}

.range__input::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #c4c2c2;
    border-radius: 50%;
    right: 0;
}

.range__input::-webkit-slider-runnable-track {
    -webkit-appearance:none;
    width:100%;
    background:#ece8e8;
    height:9px;
    border-radius:5px;
}

.range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width:18px;
    height:18px;
    background-color: #e2ae60;
    border-radius:50%;
    margin-top:-5px;
    z-index: 2;
}

.range__timeline-info {
    display: flex;
    justify-content: center;
    border: 1px solid #C9D0E1;
    border-radius: 4px;
}

.timeline-info__wrapper {
    width: 70%;
    padding: 20px;
}

.timeline-info__header {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
}

.timeline-info__header::before {
    position: absolute;
    content: "\f05a";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    left: -40px;
    top: -4px;
    font-size: 23px;
}

.timeline-info__text {
    letter-spacing: 0.5px;
    line-height: 20px;
}

.timeline-info__text::first-letter {
    text-transform: capitalize;
}

.timeline-info__text_average {
    text-transform: uppercase;
    font-weight: bold;
    color: #e2ae60;
}
