.form-help {
    width: 29%;
}

.form-help__wrapper {
    padding: 25px 60px 15px 80px;
    text-align: justify;
}

.form-help__caption {
    position: relative;
}

.form-help__title {
    text-transform: uppercase;
}

.form-help__title::before {
    content: '';
    background-image: url('../img/circle.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    left: -35px;
}

.form-help__about {
    color: #A5ABC5;
    line-height: 1.5;
}

.form-help__address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-style: normal;
    // font-weight: 600;
    font-size: 16px;
}
