.footer {
    background-color: #444A62;
    color: #A5ABC5;
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 85px 20px;
    @media screen and (max-width: 650px) {
        flex-wrap: wrap;
    }
}

.footer__block {
    width: 25%;
    height: 110px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 800px) {
        width: 20%;
    }
    @media screen and (max-width: 720px) {
        width: 15%;
    }
    @media screen and (max-width: 650px) {
        align-self: center;
        width: 50%;
    }
}

.footer__block_logo {
    width: 8%;
    justify-content: flex-end;
    @media screen and (max-width: 650px) {
        width: 100%;
        justify-content: center;
    }
}

.footer__title {
    text-transform: uppercase;
}

.footer__text {
    line-height: 20px;
}

.footer__address {
    font-style: normal;
}

.footer__address-list {
    list-style: none;
    padding: 0px;
}

.footer__logo {
    width: 100px;
}

.footer__phone {
    color: #A5ABC5;
}

.footer__block_info {
    padding-left: 40px;
    @media screen and (max-width: 650px) {
        width: 90%;
    }
}

.footer__block_address {
    @media screen and (max-width: 650px) {
        width: 50%;
    }
    @media screen and (max-width: 500px) {
        width: 100%;
    }
    @media screen and (max-width: 330px) {
        margin-top: 30px;
    }
}

.footer__block_social {
    @media screen and (max-width: 650px) {
        width: 50%;
    }
    @media screen and (max-width: 500px) {
        width: 100%;
    }
}

.footer__text_info {
    font-style: italic;
}

.footer__content {
    position: relative;
}

.footer__title::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -35px;
    top: 10px;
    font-size: 20px;
}

.footer__title_info::before {
    content: "\f004";
}

.footer__title_address::before {
    content: "\f14e";
}

.footer__title_social::before {
    content: "\f1e0";
}

.footer__social-items {
    list-style: none;
}

.social-items__link {
    color: #A5ABC5;
    cursor: pointer;
}

.social-items__item {
    position: relative;
}

.social-items__link::before {
    content: '';
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    left: -35px;
    top: 2px;
}

.social-items__link_facebook::before {
    background-image: url('../img/facebook-logo.png');
}

.social-items__link_twitter::before {
    background-image: url('../img/twitter-logo.png');
}

.social-items__link_linkedin::before {
    background-image: url('../img/linkedin-logo.png');
}
