.form__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #C9D0E1;
}

.form__sections-wrapper {
    margin: 0 auto;
    width: 80%;
}

@import 'sections/form__order';
@import 'sections/form__help';
@import 'sections/form__translate';
@import 'sections/form_upload';
@import 'sections/form_languages';
