.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.header__button {
    @include button;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 600;
    position: relative;
    min-width: 180px;
}

.header__button--back::before {
    content: '';
    background-image: url('../img/arrow-left.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 15px;
    left: 25px;
    top: 25px;
}

.header__button--sign-in::before {
    content: '';
    background-image: url('../img/user.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 15px;
    left: 30px;
    top: 22px;
}
