@mixin button {
    color: #95a1c1;
    border: 1px solid #C9D0E1;
    padding: 20px;
    overflow: hidden;
    cursor:pointer;
    border-radius: 5px;
    font-size: 14px;
    @include focus-hover;
}

@mixin section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
}


@mixin section-title($content) {
    font-size: 21px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    position: relative;
    &::first-letter {
        text-transform: uppercase;
    }
    &:before {
        content: "#{$content}";
        width: 40px;
        height: 40px;
        position: absolute;
        border: 1px solid #70778b;
        border-radius: 50%;
        left: -60px;
        top: -10px;
        text-align: center;
        line-height: 40px;
        @media screen and (max-width: 700px) {
            width: 30px;
            height: 30px;
            left: -40px;
            line-height: 33px;
        }
        @media screen and (max-width: 500px) {
            left: -30px;
        }
        @media screen and (max-width: 400px) {
            left: -15px;
        }
    }
    @media screen and (max-width: 700px) {
        font-size: 16px;
    }
    @media screen and (max-width: 500px) {
        padding-left: 10px;
    }
    @media screen and (max-width: 400px) {
        padding-left: 25px;
    }
}

@mixin visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

@mixin focus-hover {
    &:hover {
        outline: 2px solid #59A9E4;
    }
    &:focus {
        outline: 2px solid #59A9E4;
    }
}
