@import 'normalize';
@import 'mixins';
@import 'body', 'wrapper';
@import 'header';
@import 'main', 'form';
@import 'footer';

a {
    &:hover {
        outline: 2px solid #59A9E4;
        text-decoration: underline;
    }
    &:focus {
        outline: 2px solid #59A9E4;
        text-decoration: underline;
    }
}
